body{
    font-family: Arial;
    background:#f6ebeb;
}

header{
    background:#333;
    color:#fff;
    padding:15px;
    text-align:center;
}

.container{
    display:flex;
    gap:30px;
    padding:30px;
    justify-content:center;
}

.form,.jobs{
    background:#fff;
    padding:20px;
    border-radius:8px;
    width:300px;
}

input{
    width:100%;
    padding:8px;
    margin:8px 0;
}

button{
    width:100%;
    padding:8px;
    background:blue;
    color:#fff;
    cursor:pointer;
}

li{
    background:#eee;
    margin:5px;
    padding:6px;
}
h2{
    text-align:center;
}